<appSettings>
  <add key="master_db" value="Data Source=DOTRDMSSVR\SQLEXPRESS;Initial Catalog=docuvu2014;user id=sa;password=VYc^7dv8;Timeout=300" />
  <add key="fileloc" value="c:\dmsfiles\datafile\" />
  <add key="fileloc2" value="c:\dmsfiles\datafile\" />
  <add key="altattachloc" value="c:\dmsfiles\datafile\attachment" />
  <add key="ontimegroup" value="CRV" />
  <add key="rdscolumn" value="date received by agency" />
  <add key="sarocolumnname" value="SARO No" />
  <add key="ncacolumnname" value="NCA No" />
  <add key="boxcolumnname" value="Box Number" />
  <add key="IssuancesDocType" value="Letter" />
  <add key="pagetimeout" value="30" />
  <add key="dbname" value="Docuvu2014" />
  <add key="backuploc" value="c:\dmsfiles\datafile\backup" />
  <add key="doclocation" value="c:\dmsfiles\datafile\continous" />
  <add key="doctypeloc" value="images/doctype/" />
  <add key="rowsperpage" value="5" />
  <add key="adminemail" value="as.support@dotr.gov.ph" />
  <add key="debugnow" value="0" />
  <add key="oracle" value="0" />
  <add key="emaillayout" value="@dotr.gov.ph" />
  <add key="SendEmail" value="Y" />
  <add key="EmailCC" value="N" />
  <add key="IsLocal" value="N" />
  <add key="LocalPath" value="https://dms.dotr.gov.ph/dms" />
  <add key="Complete" value="5,6" />      
  <add key="virtualdir" value="dms" />
  <add key="uploadlocation" value="c:\dmsfiles\datafile\uploaddocs" />
  <add key="PasswordHistory" value="2" />
  <add key="MaxFileSize" value="8092000" />
  <add key="ZipMaxFileSize" value="250092000" />
  <add key="MaintenanceMode" value="0" />
  <add key="HideConf" value="1" />
  <!--addition of drive space-->
  <add key="OnlineDate" value="" />
  <add key="OfflineDate" value="" />
  <add key="RoutedToRemarks" value="FAA" />
<add key="ContentType" value="application/octet-stream" />
  <add key=".pdf" value="application/octet-stream" />
<add key=".doc" value="application/msword" />
  <add key=".docx" value="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
<add key=".xlsx" value="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
<add key=".xls" value="application/vnd.ms-excel" />
  </appSettings>